{% extends "results/base.html" %}
{% load crispy_forms_tags %}
{% block main_content %}

{% load humanize %}



<div class="row">
<div class="col-md-12 ">
<h1 style="text-align:center" class="mx-auto">Yearly/Test Examination 2019 Class Wise Position Search </h1>
</div>

<div class="col-md-3 offset-md-4  centered">

    <form action="" method="POST">
        {% csrf_token %} {{form | crispy}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<hr>




<div class="col-lg-12 centered">
    <div class="card">

        <div class="card-body">
            {% if std_search %}


<!--<a href="{% url 'class_wise_pdf' class_name %}">Download</a>-->




<h2 class="mx-auto" style="width:550px;font-size:25px">Class {{class_name}} Position List and analysis</h2>



<div class="row">
    <div class="col-md-12">
        <div class="div">
            <div class="progress" style="height:40px; margin-bottom:20px">
                <div class="progress-bar  progress-bar-striped progress-bar-animated  bg-success" style="width:{{pass_percent|floatformat:'0'}}%">
                    <b style="font-size:12px">Pass {{pass_percent|floatformat:'2'}}%</b>
                </div>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width:{{fail_percent|floatformat:'0'}}%">
                    <b style="font-size:12px">Fail {{fail_percent|floatformat:'2'}}%</b>
                </div>

            </div>

        </div>
    </div>
</div>


<div class="div">
    <div class="row">

        <div class="col-md-6">
            <table class="table mx-auto" style="width:400px">


            <tr class="table-danger">
                <td>Class: </td>
                <td>{{class_name}}</td>

            </tr>





            <tr class="table-primary">
                <td>Total Examinee | class {{class_name}}</td>
                <td>{{std_search_count}}  </td>

            </tr>

            <tr class="table-info">
                <td>Total Passed</td>
                <td>{{total_pass_std_count}}

                <span class="badge badge-success">{{pass_percent|floatformat:'2'}}%</span>
            </td>

            </tr>


            <tr class="table-danger">
                <td>Total Fail</td>
                <td>{{fail_std_count}}
                <span class="badge badge-danger">{{fail_percent|floatformat:'2'}}%</span>

                </td>

            </tr>



            <tr class="table-success">
                <td>Total Male</td>
                <td>{{total_male_list}}</td>

            </tr>


            <tr class="table-success">
                <td>Total Female</td>
                <td>{{total_female_list}}</td>

            </tr>



            <tr class="table-danger">
                <td>Male pass</td>
            <td>{{pass_std_count_male}}</td>

            <tr class="table-danger">
                <td>Female pass</td>
                <td>{{pass_std_count_female}}</td>
            </tr>

            <tr class="table-danger">
                <td>Male Fail</td>
                <td>{{male_std_fail}}</td>
            </tr>


            <tr class="table-danger">
                <td>Female Fail</td>
                <td>{{female_std_fail}}</td>
            </tr>



        </table>
    </div>



<div class="col-md-6">
    <table class="table mx-auto" style="width:400px">





        <tr class="table-success">
            <td>A+</td>
            <td>{{std_gpa_aplus}}</td>

        </tr>
        <tr class="table-info">
            <td>A</td>
            <td>{{std_gpa_a}}</td>

        </tr>
        <tr class="table-warning">
            <td>A-</td>
            <td>{{std_gpa_a_minus}}</td>

        </tr>
        <tr class="table-danger">
            <td>B</td>
            <td>{{std_gpa_b}}</td>

        </tr>

        <tr class="table-info">
            <td>C</td>
            <td>{{std_gpa_c|floatformat}}</td>

        </tr>

        <tr class="table-info">
            <td>D</td>
            <td>{{std_gpa_d|floatformat}}</td>

        </tr>

        <tr class="table-warning">
            <td>Average Gradepoint (GPA)</td>
            <td>{{std_search_avg_gradepoint|floatformat:'2'}}</td>

        </tr>

    </table>
</div>









        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 mx-auto ">

        <div class="div">





            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Class Position</th>
                        <th>Student Name</th>
                        <th>Roll</th>
                        <th>Position Status</th>


                        <!--<th>School Rank</th>-->
                        <th>Class</th>

                        <th>GPA</th>
                        <th>Marks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for std in std_search%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{std.class_rank|ordinal}} <!--<a href="{% url 'pdf' std.id%}" target="_blank"> print</a>--></td>


                        {% if std.std_fail_subject >= 1 %}
                        <td >
                        <a style="color:red" href="{% url 'std_details' std.id%}">{{std.std_name}}</a>
                        <span class="badge badge-danger">F{{std.std_fail_subject}}</span>
                        </td>
                        {% else %}
                        <td>
                        <a href="{% url 'std_details' std.id%}">{{std.std_name}}</a>
                        </td>
                        {% endif %}






                        <td>{{std.std_roll}}</td>

                        {% if std.std_roll > std.class_rank %}
                        <td style="color:#3498db">
                            <i class="fas fa-arrow-up"></i>Position Up
                        </td>

                        {% elif std.std_roll < std.class_rank%}

                        <td style="color:red"><i class="fas fa-arrow-down"></i>  Position Down </td>

                        {% elif std.std_roll == std.class_rank %}

                        <td style="font-size:14px;color:green"> Position label
                            <i class="fas fa-arrows-alt-v"></i>
                        </td>

                        {% endif %}






                        <!--<td>{{std.school_rank|ordinal}}</td>-->

                        <td>{{std.get_std_class_display}}</td>


                        {% if std.std_fail_subject >= 1 and std.std_gpa != 'Withheld' %}
                        <td style="color:red;font-size:12px">
                            Fail {{std.std_fail_subject}} Subject
                        </td>
                        {% elif std.std_gpa == 'Withheld' %}
                        <td style="color:red;font-size:12px">
                            Withheld (absent)
                        </td>
                         {% else %}
                        <td>
                            {% if std.std_grade_point_total_subject_avg > 5 %}
                            {{std.std_grade_point_total_subject_avg|floatformat:0}}.00
                            {% else %}
                            {{std.std_grade_point_total_subject_avg|floatformat:'2'}}
                            {% endif %}
                        </td>
                        {% endif %}





                        <td>{{std.std_total_marks|floatformat}}</td>



                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




{% block pagination %} {% if is_paginated %}
<div class="pagination">
    <ul class="pagination mx-auto">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link" href="#"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a>
        </li>

        </li>



        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        </li>
        {% endif %}
        </li>
    </ul>
    {% endif %} {% endblock %}





            {% elif std_search == None %}

            <h4 style="text-align:center;font-size:15px;padding:10px; width:400px;margin:0 auto" class="card bg-dark text-white card-title ">Fulhata Secondary School Result Application</h4>


            {% else %}
            <h4 style="text-align:center;font-size:15px;padding:10px" class="card bg-danger text-white card-title">{{std_search.subject_name}} Not Found</h4>
            {% endif %}

        </div>
    </div>
</div>






</div>


{% endblock main_content %}
