{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://fhsresult.pythonanywhere.com/static/results/img/logo.png">


    <title>{% block title %}Home {% endblock  %}Fulhata High School Online Result System</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Almendra' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Encode Sans Condensed' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
    <link href="{% static '/results/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'results/css/full-width-pics.css' %}" rel="stylesheet">
<style>
 body { font-family: 'Actor';font-size: 19px; }
 p,td,tr,button,h1,h2,h3,h4,h5{
 font-family: 'Amiko';font-size: 16px;
 }
 .title_custom{
 font-size: 32px;font-weight: 35px;
  font-family: 'Alegreya SC';
 }

 .title_custom_two{
 font-size: 16px;
 font-family: 'Encode Sans Condensed';
 }

 #borderimg1 {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url({% static 'results/img/border.png' %}) 30 round; /* Safari 3.1-5 */
    -o-border-image:url({% static 'results/img/border.png' %}) 30 round; /* Opera 11-12.1 */
    border-image: url({% static 'results/img/border.png' %}) 30 round;
}


@media only screen and (max-width: 450px) {
    body { background-color: lightblue;
 th,td{
     font-size: 10px;
    }
    }
}

.navbar-nav li a{
    font-size: 16px;
    font-weight: normal;
}




.bgimg {
    background-image: url({% static 'results/img/rsz_dscn3714.jpg' %})  ;


    height: 12em;
    width:100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}



</style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home_app' %}">  <img class="img-fluid d-block mx-auto" style="height:19px" src="{% static 'results/img/logo.png' %}" alt="">ফুলহাতা মাধ্যমিক বিদ্যালয়</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">ফলাফল খুজুন</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'subject_search' %}">Subject খুজুন</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'rank' %}">বিদ্যালয়ের মেধা তালিকা</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'all_rank_search' %}">শ্রেনী ভিত্তিক মেধা তালিকা</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'teacher_list' %}">শিক্ষকদের তালিকা</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'summary' %}">Summary</a>
                    </li>


                    <!--<li class="nav-item ">
                        <a class="nav-link" href="{% url 'admin:index' %}">Log in</a>
                    </li>-->


                </ul>
            </div>
        </div>
    </nav>

    <!-- Header - set the background image for the header in the line below
    <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=997');">

    </header>
     -->

    <!-- Content section -->
    <section class="py-5">


        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-8 offset-md-2  centered" style="margin-bottom:10px; margin-top:-42px">
                    <!-- <img class="img-fluid d-block mx-auto" style="height:4em" src="{% static 'results/img/logo.png' %}" alt=""> -->
                </div>
            </div>




               {% block main_content %}


                {% endblock main_content %}










            <!--


            -->











            <hr>










        </div>
    </section>





    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white"><a style="color:white; font-size:15px" href="http://fhsresult.pythonanywhere.com/"> Half Yearly & Pre Test Exam 2019 Result link </a></p>
            <p class="m-0 text-center text-white"><a style="color:white; font-size:15px" href="http://fulhatahighschool.pythonanywhere.com/"> Final & Test Exam 2018 Result link </a></p>
            <p class="m-0 text-center text-white">Copyright &copy; Fulhata High School 2019</p>
<p style="font-size:12px" class="m-0 text-center text-white">App Developed & Maintained by
<a style="color:blanchedalmond" href="https://web.facebook.com/asadlive.sohel1">Asaduzzaman Sohel</a>
</p>
        </div>
<p>{% block credit_info %}{% endblock %}</p>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script>
// Set the date we're counting down to
var countDownDate = new Date("November 5, 2019 15:00:00").getTime();

// Update the count down every 1 second
var countdownfunction = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("final").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is over, write some text
    if (distance < 0) {
        clearInterval(countdownfunction);
        document.getElementById("final").innerHTML = "EXPIRED";
    }
}, 1000);







//made by vipul mirajkar thevipulm.appspot.com
var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };


</script>
    <script src="{% static 'results/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'results/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
