<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
{% load qr_code %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{object.std_name}} Exam Result Report</title>



    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
            font-family: 'Amita';font-size: 19px;
            font-family: 'Allura';font-size: 19px;
            font-family: 'Actor';font-size: 19px;
            font-family: 'Actor';font-size: 19px;
        }
       
        body {
            font-family: 'Actor';font-size: 19px;
			border:3px double #000;
			padding:10px 5px 10px 5px;

            
        }
        p,button,h1,h2,h3,h4,h5{
            font-family: 'Amiko';font-size: 17px;
        }
        .title_custom{
            font-family: 'Amita';font-size: 32px;font-weight: 35px;
        }
        .title_custom_two{
            font-family: 'Almendra';font-size: 22px;
        }
        th{
            font-size: 10px;
			text-align: left;
        }
        td{
            font-size: 10.5px;
        }


 table, th,td{ border-spacing: 5px; border: .5px solid black; } table, th, td { border: 1px solid black; border-collapse: collapse;
} th, td { padding: 5px; } th { text-align: left; }




}
 .watermark { width: 100px; height: 100px; display: block; position: relative; }
.watermark::after { content: ""; background:url({%static 'results/img/logo.png' %});background-repeat:no-repeat; opacity:
0.10; top: 0;
left: 0; bottom: 0; right: 0; position: absolute; z-index: -1; background-attachment: fixed; background-position: center;
}

#background{ position:absolute; z-index:0; background; display:block; min-height:10%; min-width:10%; color:yellow;
} #content{ position:absolute; z-index:1; }
#bg-text {margin-top: 250px;
     color:lightgrey; font-size:15px; margin-left:250px;
}

table#mytable, table#mytable td { border: none !important; font-size: 14px; line-height: 22px}


#container{width:100%; text-align:center; margin-bottom: 30px}

#left_one
{ float:left; width:110px; height: 20px; background: # }


#left
{ float:left; width:150px; height: 20px; background: # }
#center{ display: inline-block; margin:0 auto; width:150px; height: 20px; background:; margin-top:px;margin-left: 70px}
 #right
 { float:right; width:130px;
height: 20px; background: # }


#result_table_range tr td{
    font-size: 6.5px;
}
#result_table_range tr th{
    font-size: 7px;
}

#result_table_range{
    border:0; 
    width:43%!important; 
    font-size: 2px;
    margin-left: 76px;
    
    
}


    </style>
</head>

<body>




	<div class="" style="width:90%;margin:0 auto">
        <div id="background">
<p id="bg-text">N: {{object.std_name}}, R: {{object.std_roll}}, 
    
    
    {% if object.std_class == '9' or object.std_class == '10' %}
    
    
         G: {{object.get_std_group_display}}
    
  
    {% else %}
    
    {% endif %}

    
     C: {{object.get_std_class_display}} <br>

{% if object.std_gpa == 'Withheld' %}

Result:
    Withheld (absent)

{% endif %}


{% if fail >= 1 and object.std_gpa != 'Withheld' %}
Result:
    Fail {{fail}} Subject Marks: {{total_marks_with_fail_sub}}





{% elif object.std_gpa != 'Withheld' %}
Result:
    {% if toatal_grade_point > 5 %} GPA-{{toatal_grade_point | floatformat:0}}.00 (out of 5), Marks-
    {{ total_marks|floatformat}} {% else %} GPA-{{toatal_grade_point | floatformat:2}} (out of 5), Grade {{count_gpa.get_gpa}},Marks-{{total_marks|floatformat}}
    {% endif %}






{% endif %}

</p>



        </div>

        <div class="watermark">

        </div>
        

		<div class="">

            <div style="width:900px; ">
                <div style="width:600px;float: left;display:block">
                    <div>
                        <img style="width:100px;height:109px;margin-left:2%;margin-top:1%;" src="{%static 'results/img/logo.png' %}" alt="">
                        <h1 style="text-align:center;font-size:20px;margin-top:-17%" class="title_custom">
                            Fulhata Secondary School
                        </h1>
                        <p style="text-align:center;font-size:12px; margin-top:-15px">Morrelganj, Bagerhat</p>
                    
                       
                    
                    
                        <p style="text-align:center;font-size:10px; margin-top:-10px" class="">
                            Eiin No: 115030, Founded: 1946
                            <br> Contact: fulhatahs@gmail.com, Morrelganj, Bagerhat
                    
                        </p>
                    
                    
                    </div>
                </div>
            
                <div style="width:420px;float:right;overflow:;display:; margin-left:-320px">
                   
                    {% qr_from_text std_details size=2 image_format="png"  %}

                   
                
               
                </div>
            
            </div>
            
        </div>

<p class="new_css" style="text-align:center;font-size:14px">
 {% if object.std_class == '10'  %} 
Pre-Test Examination 2019

{% elif object.std_class == '8' %}
 Pre Model Test Examination 2019  
 {% else %} Half Yearly Examination 2019 {% endif %}
 Result Card
</p>




<hr style="margin-top:30px">

<p id="rotate" style="font-size: 8px;margin-left: -680px;writing-mode: tb-rl;transform: rotate(-90deg);"> 
    Result App Developed & Maintained by
    <a style="color:black;text-decoration:none;font-size: 9px" href="https://web.facebook.com/asadlive.sohel1">Asaduzzaman Sohel</a>
</p>
<div class="" style="width:800px;display:block;margin-top: -20px">

<div class="left_sideback" style="width:345px;float: left;overflow:hidden;display:block">

<table id="mytable">

                <tbody>
                    <tr>
                        <td>Full Name</td>
                        <td>: {{object.std_name}}</td>
                        

                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>: {{object.get_std_gender_display}}</td>

                    </tr>

                    <tr >
                        <td>Class Roll</td>
                        <td>: {{object.std_roll}}</td>

                    </tr>
                    <tr >
                        <td>Class</td>
                        <td>: {{object.get_std_class_display}}</td>

                    </tr>

                    {% if object.std_class == '9' or  object.std_class == '10' %}

                    <tr >
                        <td>Group</td>
                        <td>: {{object.get_std_group_display}}</td>

                    </tr>
                    {% else %}

                    {% endif %}




                    {% if ranks.class_rank < object.std_roll %}
                        <tr >
                        <td>Class Position- {{object.get_std_class_display}}</td>
                        <td style="color:royalblue">: {{ranks.class_rank|ordinal}}
                        (Position Up)

                        </td>
                        </tr>

                        {% elif ranks.class_rank == object.std_roll %}
                        <tr >
                            <td>Class Position- {{object.get_std_class_display}}</td>

                            <td style="color:blue">: {{ranks.class_rank|ordinal}} (Position Label)

                            </td>
                        </tr>


                        {% elif ranks.class_rank > object.std_roll %}
                        <tr >
                            <td>Class Position- {{object.get_std_class_display}}</td>
                            <td style="color:red">: {{ranks.class_rank|ordinal}} (Position Down)

                            </td>
                        {% endif %}
                        </tr>


                        <!--
                        <tr >
                            <td>School Rank</td>
                            <td>: {{ranks.school_rank|ordinal}}</td>

                        </tr>

                        -->


                </tbody>
            </table>
            <!---
            <table border="0" style="width:100%!important;margin-bottom: 5px; margin-top:5px!important;margin-bottom:">

                <tbody>
    
    
    
    
    
                    {% if fail <= 6 %}
                    <tr class="table-success">
                        <td>Maximum Number </td>
                        <td style="font-size:10px">{{subject_max_number}}</td>
    
                    </tr>
                    {% endif %}
                    
                    
                    
                    {% if fail >= 0 and fail <= 4 %}
                    <tr class="table-warning">
                        <td>Average Number</td>
                        <td>{{sub_avg_number|floatformat}}</td>
                    
                    </tr>
                    {% endif %}
                   
    
    
    
                    {% if subject_max_number != subject_min_number%}
                    <tr class="table-danger">
                        <td>Lowest Number</td>
                        <td style="font-size:10px">{{subject_min_number}}</td>
    
                    </tr>
                    {% endif %}
    
    
                </tbody>
            </table>
        -->



</div>












<div style="width:450px;float:right;overflow:hidden;display:inline-block">


    <table id="result_table_range" >
        <tr>
            <th>Range</th>
            <th>Grade</th>
            <th>GPA</th>
        </tr>
        <tr>
            <td>80-100</td>
            <td>A+</td>
            <td>5.00</td>
        </tr>
        <tr>
            <td>70-79</td>
            <td>A</td>
            <td>4.00</td>
        </tr>
        <tr>
            <td>60-69</td>
            <td>A-</td>
            <td>3.50</td>
        </tr>
        <tr>
            <td>50-59</td>
            <td>B</td>
            <td>3.00</td>
        </tr>
        <tr>
            <td>40-49</td>
            <td>C</td>
            <td>2.00</td>
        </tr>
        <tr>
            <td>33-39</td>
            <td>D</td>
            <td>1.00</td>
        </tr>
        <tr>
            <td>0-32</td>
            <td>F</td>
            <td>0.00</td>
        </tr>
    
    
    </table>


    <table border="0" style="width:60%!important;margin-bottom: 5px; margin-top:5px!important">

            <tbody>

                <!--

                <tr class="table-success">
                    {% if fail >= 1 %}
                    <td>Total Marks - Fail</td>
                    <td style="color:red">{{ total_marks_with_fail_sub|floatformat}}

                    </td>




                    {% else %}
                    <td>Total Marks</td>
                    <td>{{ total_marks_with_fail_sub|floatformat}} </td>

                    {% endif %}


                </tr>

            -->




                {% if fail <= 6 %}
                <tr class="table-success">
                    <td>Maximum Number </td>
                    <td style="font-size:10px">{{subject_max_number}}</td>

                </tr>
                {% endif %}
                
                <!--
                
                {% if fail >= 0 and fail <= 4 %}
                <tr class="table-warning">
                    <td>Average Number</td>
                    <td>{{sub_avg_number|floatformat}}</td>
                
                </tr>
                {% endif %}
                -->
               



                {% if subject_max_number != subject_min_number%}
                <tr class="table-danger">
                    <td>Lowest Number</td>
                    <td style="font-size:9px">{{subject_min_number}}</td>

                </tr>
                {% endif %}


            </tbody>
        </table>
    

       

 </div>

</div>





 <div class="" style="width:100%;margin-top:235px;margin-left:0px;margin-right:auto;text-align:center;border:1px solid black">


        {% if object.std_gpa == 'Withheld' %}
        
        <p style="font-weight: bold;text-align:center;font-size:11px;color:rgb(0, 0, 0);padding:5px" class=" card bg-danger text-white card-title">Result:
            Withheld (absent)</p>
        
        {% endif %}
        
        
        {% if fail >= 1 and object.std_gpa != 'Withheld' %}
        <p style="font-weight: bold;text-align:center;font-size:11px;color:black;padding:5px" class=" card bg-danger text-white card-title">Result:
            Fail {{fail}} Subject, Total Marks: {{total_marks_with_fail_sub}}</p>
        
        
        
        
        
        {% elif object.std_gpa != 'Withheld' %}
        <p style="font-weight: bold;text-align:center;font-size:11px;color:black;padding:5px" class=" card bg-success text-white card-title">Result:
            {% if toatal_grade_point > 5 %} GPA- {{toatal_grade_point | floatformat:0}}.00 (out of 5), Grade {{count_gpa.get_gpa}}, Total Marks-
            {{ total_marks|floatformat}} {% else %} GPA- {{toatal_grade_point | floatformat:2}} (out of 5), Grade {{count_gpa.get_gpa}}, Total Marks- {{total_marks|floatformat}}
            {% endif %}


          <br>
           <span style="font-weight: bold;font-size:10px">without optional subject: {{toatal_grade_point_without_opt}}, {{count_gpa_without_gpa.get_gpa}}</span>

           
        
        
        
        
        </p>
        
        {% endif %}

 </div>






<div class="row">
    <div style="margin-top:5px">
        {% if object.marks_set.all %}




            <table style="width:100%" style="text-align:center:9px;padding:14px;border-spacing: 15px;"  class="table_sheet">
            <thead>
                <tr>
                    <th rowspan="2">No</th>
                    <th style="text-align:center" rowspan="2">Subject Code</th>
                    <th style="text-align:center" rowspan="2">Subject Name</th>
                    <th style="text-align:center" rowspan="2">Full Marks</th>
                    <th  style="text-align:center" colspan="4">Marks</th>

                    <th rowspan="4">Grade Point</th>
                    <th rowspan="4">Grade</th>
                </tr>
                <tr>
                    <th>Theory</th>
                    <th>MCQ</th>
                    <th>Practical</th>
                    <th>Total</th>

                </tr>
            </thead>
            <tbody>
                {% for i in subject_regular %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.subject_name.subject_code}}</td>
            
            
                    <!--subject name with fail style-->
                    {% if i.subject_gpa == "F" %}
                    <td style="text-align:left;color:red">
            
                        {% if i.subject_name.subject_type == 'O' %}
                        {{i.subject_name.subject_name}}
                        <span style="font-size:7px!important;font-style:italic">({{i.subject_name.get_subject_type_display}})
                        </span>
                        {% else %}
                        {% if i.subject_name.first_part_name%}
                        {{i.subject_name.subject_name}} {{i.subject_name.first_part_name}}
                        <br> {{i.subject_name.subject_name}} {{i.subject_name.second_part_name}}
                        {% else %} {{i.subject_name.subject_name}}
                        {% endif%}
                        {% endif %}
            
                        {% if i.absent_check == 'Y'%}
            
                        <span style="color:red;font-size:7px;font-style:italic">Absent</span>
            
                        {% endif %}
            
                    </td>
            
                    {% else %}
            
                    <td style="text-align:left;">
                        {% if i.absent_check == 'Y'%}
            
                        <span style="color:red;font-size:7px;font-style:italic">Absent</span>
            
                        {% endif %}
                        {% if i.subject_name.subject_type == 'O' %} {{i.subject_name.subject_name}}
                        <span style="font-size:7px!important;font-style:italic">({{i.subject_name.get_subject_type_display}})</span>
                        {% else %} {% if i.subject_name.first_part_name%} {{i.subject_name.subject_name}}
                        {{i.subject_name.first_part_name}}
                        <br> {{i.subject_name.subject_name}} {{i.subject_name.second_part_name}} {% else %}
                        {{i.subject_name.subject_name}} {% endif%}
                        {% endif %}
                    </td>
                    {% endif %}
                    <!--end subject name with fail style-->
            
            
            
            
            
            
                    <td>{{i.subject_name.subject_full_marks|floatformat}}</td>
            
                    <td style="text-align:center">
                        {{i.subject_theory|floatformat}}
            
                        {% if i.first_part_theory %}
                        {{i.first_part_theory|floatformat}}
            
                        {% endif %}
            
                        {% if i.second_part_theory %}
                        <br>
                        {{i.second_part_theory|floatformat}}
                        {% endif %}
                    </td>
            
                    <td style="text-align:center">
                        {{i.subject_mcq|floatformat}}
            
                        {% if i.first_part_mcq %}
            
                        {{i.first_part_mcq|floatformat}}
            
                        {% endif %}
            
                        {% if i.second_part_mcq %}
                        <br>
                        {{i.second_part_mcq|floatformat}}
                        {% endif %}
                    </td>
            
                    <td style="text-align:center">{{i.subject_practical|floatformat}}</td>
                    <td style="text-align:center">{{i.subject_total_marks|floatformat}}</td>
            
                    <!--<td style="text-align:right">{{i.subject_marks|floatformat}}</td>-->
            
            
                    <td style="text-align:center">
                        {% if i.subject_name.subject_type == 'R' %}
                        {{i.subject_gradepoint|floatformat}}
            
                        {% endif %}
                    </td>
            
                    {% if i.subject_gpa == "F" %}
                    <td style="color:red;text-align:center">{{i.subject_gpa}}</td>
                    {% else %}
                    <td style="font-size:9px;text-align:center">{{i.subject_gpa}}</td>
            
                    {% endif %}
            
                </tr>
                {% endfor %}
            
            
            
            
            
                <!--This Section for Opt subject-->




            
                {% for i in subject_opt %}
                <tr>
                    <td colspan="10" style="text-align:center">Optional Subject
                        {% if i.absent_check == "Y" %}
                        <span style="color:red;">- Absent</span>
                        

                        {% elif i.subject_gpa == 'F'%}
                        <span style="color:red;">- Fail </span>
                        
                        {% elif i.subject_gpa != "F" or i.absent_check != "Y" %}

                        ( GPA added {{i.subject_gradepoint|floatformat}} )
            
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.subject_name.subject_code}}</td>
            
            
                    <!--subject name with fail style-->
                    {% if i.subject_gpa == "F" %}
                    <td style="text-align:left;color:red">
            
                        {% if i.subject_name.subject_type == 'O' %}
                        {{i.subject_name.subject_name}}
                        <span style="font-size:7px!important;font-style:italic">({{i.subject_name.get_subject_type_display}})
                        </span>
                        {% else %}
                        {% if i.subject_name.first_part_name%}
                        {{i.subject_name.subject_name}} {{i.subject_name.first_part_name}}
                        <br> {{i.subject_name.subject_name}} {{i.subject_name.second_part_name}}
                        {% else %} {{i.subject_name.subject_name}}
                        {% endif%}
                        {% endif %}
            
                        {% if i.absent_check == 'Y'%}
            
                        <span style="color:red;font-size:7px;font-style:italic">Absent</span>
            
                        {% endif %}
            
                    </td>
            
                    {% else %}
            
                    <td style="text-align:left;">
                        {% if i.absent_check == 'Y'%}
            
                        <span style="color:red;font-size:7px;font-style:italic">Absent</span>
            
                        {% endif %}
                        {% if i.subject_name.subject_type == 'O' %} {{i.subject_name.subject_name}}
                        <span style="font-size:7px!important;font-style:italic">({{i.subject_name.get_subject_type_display}})</span>
                        {% else %} {% if i.subject_name.first_part_name%} {{i.subject_name.subject_name}}
                        {{i.subject_name.first_part_name}}
                        <br> {{i.subject_name.subject_name}} {{i.subject_name.second_part_name}} {% else %}
                        {{i.subject_name.subject_name}} {% endif%}
                        {% endif %}
                    </td>
                    {% endif %}
                    <!--end subject name with fail style-->
            
            
            
            
            
            
                    <td>{{i.subject_name.subject_full_marks|floatformat}}</td>
            
                    <td style="text-align:center">
                        {{i.subject_theory|floatformat}}
            
                        {% if i.first_part_theory %}
                        {{i.first_part_theory|floatformat}}
            
                        {% endif %}
            
                        {% if i.second_part_theory %}
                        <br>
                        {{i.second_part_theory|floatformat}}
                        {% endif %}
                    </td>
            
                    <td style="text-align:center">
                        {{i.subject_mcq|floatformat}}
            
                        {% if i.first_part_mcq %}
            
                        {{i.first_part_mcq|floatformat}}
            
                        {% endif %}
            
                        {% if i.second_part_mcq %}
                        <br>
                        {{i.second_part_mcq|floatformat}}
                        {% endif %}
                    </td>
            
                    <td style="text-align:center">{{i.subject_practical|floatformat}}</td>
                    <td style="text-align:center">{{i.subject_total_marks|floatformat}}</td>
            
                    <!--<td style="text-align:right">{{i.subject_marks|floatformat}}</td>-->
            
            
                    <td style="font-size:9px;text-align:center">
            
                        {{i.subject_main_gradepoint|floatformat}}
                        
            
                    </td>
            
                    {% if i.subject_gpa == "F" %}
                    <td style="color:red;text-align:center">{{i.subject_gpa}}</td>
                    {% else %}
                    <td style="text-align:center" >{{i.subject_gpa}}</td>
            
                    {% endif %}
            
                </tr>
                {% endfor %}


                                <!--This Section for Opt subject-->




            
                {% for i in subject_extra %}
                <tr>
                    <td colspan="10" style="text-align:center">Extra Subject
                        {% if i.absent_check == "Y" %}
                        <span style="color:red;">- Absent</span>
                        

                        {% elif i.subject_gpa == 'F'%}
                        <span style="color:red;">- Fail </span>
                        
                        {% elif i.subject_gpa != "F" or i.absent_check != "Y" %}

                       
            
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.subject_name.subject_code}}</td>
            
            
                    <!--subject name with fail style-->
                    {% if i.subject_gpa == "F" %}
                    <td style="text-align:left;color:red">
            
                        {% if i.subject_name.subject_type == 'O' %}
                        {{i.subject_name.subject_name}}
                        <span style="font-size:7px!important;font-style:italic">({{i.subject_name.get_subject_type_display}})
                        </span>
                        {% else %}
                        {% if i.subject_name.first_part_name%}
                        {{i.subject_name.subject_name}} {{i.subject_name.first_part_name}}
                        <br> {{i.subject_name.subject_name}} {{i.subject_name.second_part_name}}
                        {% else %} {{i.subject_name.subject_name}}
                        {% endif%}
                        {% endif %}
            
                        {% if i.absent_check == 'Y'%}
            
                        <span style="color:red;font-size:7px;font-style:italic">Absent</span>
            
                        {% endif %}
            
                    </td>
            
                    {% else %}
            
                    <td style="text-align:left;">
                        {% if i.absent_check == 'Y'%}
            
                        <span style="color:red;font-size:7px;font-style:italic">Absent</span>
            
                        {% endif %}
                        {% if i.subject_name.subject_type == 'O' %} {{i.subject_name.subject_name}}
                        <span style="font-size:7px!important;font-style:italic">({{i.subject_name.get_subject_type_display}})</span>
                        {% else %} {% if i.subject_name.first_part_name%} {{i.subject_name.subject_name}}
                        {{i.subject_name.first_part_name}}
                        <br> {{i.subject_name.subject_name}} {{i.subject_name.second_part_name}} {% else %}
                        {{i.subject_name.subject_name}} {% endif%}
                        {% endif %}
                    </td>
                    {% endif %}
                    <!--end subject name with fail style-->
            
            
            
            
            
            
                    <td>{{i.subject_name.subject_full_marks|floatformat}}</td>
            
                    <td style="text-align:center">
                        {{i.subject_theory|floatformat}}
            
                        {% if i.first_part_theory %}
                        {{i.first_part_theory|floatformat}}
            
                        {% endif %}
            
                        {% if i.second_part_theory %}
                        <br>
                        {{i.second_part_theory|floatformat}}
                        {% endif %}
                    </td>
            
                    <td style="text-align:center">
                        {{i.subject_mcq|floatformat}}
            
                        {% if i.first_part_mcq %}
            
                        {{i.first_part_mcq|floatformat}}
            
                        {% endif %}
            
                        {% if i.second_part_mcq %}
                        <br>
                        {{i.second_part_mcq|floatformat}}
                        {% endif %}
                    </td>
            
                    <td style="text-align:center">{{i.subject_practical|floatformat}}</td>
                    <td style="text-align:center">{{i.subject_total_marks|floatformat}}</td>
            
                    <!--<td style="text-align:right">{{i.subject_marks|floatformat}}</td>-->
            
            
                    <td style="font-size:9px;text-align:center">
            
                        {{i.subject_main_gradepoint|floatformat}}
                        
            
                    </td>
            
                    {% if i.subject_gpa == "F" %}
                    <td style="color:red;text-align:center">{{i.subject_gpa}}</td>
                    {% else %}
                    <td style="text-align:center" >{{i.subject_gpa}}</td>
            
                    {% endif %}
            
                </tr>
                {% endfor %}







            </tbody>
        </table>

        {% else %}
        <p>no update</p>
        {% endif %}



        <div id="container" style="clear:both">
            <hr>
            <div id="left_one" style="margin-top:0px">
                <p style="font-size:12px;margin-bottom: 15px">Parent's signature</p>
               
            
                </p>
            </div>


            <div id="left" style="margin-top:0px">
                    <p style="font-size:12px;margin-bottom: 45px">Result checked by</p>
                    <p style="font-size:11px;margin-top:-12px">Md. Bellal Hossain</p>
                    <p style="font-size:10px;margin-top:-13px">
                        <i>Asst. Teacher (Agriculture)</i> 
                        
                    </p>
                    <p style="font-size:9px;margin-top:-10px">
                        <i>cellphone: 01725-666116</i>
                    
                    </p>
            </div>
            <div id="center" >
                    <p style="font-size:12px;margin-bottom: 45px">Class teacher</p>
                    <p style="font-size:11px;margin-top:-12px">Md Moniruzzaman</p>
                    <p style="font-size:10px;margin-top:-13px">
                        <i>Asst. Teacher (ICT) </i> 
                    </p>
                <p style="font-size:9px;margin-top:-10px">
                        <i>cellphone: 01621-219221</i>
                    
                    </p>
            </div>

            <div id="right" style="margin-top:0px">
                <p style="font-size:12px;margin-bottom: 45px">Head of the institute</p>
            
                <p style="font-size:11px;margin-top:-12px">Susanta Halder</p>
                <p style="font-size:10px;margin-top:-13px">
                    <i>Head Teacher </i> (In-charge)
            
                </p>
                <p style="font-size:9px;margin-top:-10px">
                 <i>cellphone: 01713-797938</i>
            
                </p>
            </div>
        </div>






        <div style="width:800px;  margin-top: 10px">
            <div style="width:335px;float: left;overflow:hidden;display:block;margin-top:-10px">
                
                     <div >
                    <p style="font-size:8px; ">
                        &copy; Fulhata Secondary School 2019
                       
                
                    </p>
                
                    
                
                </div>
                  
               
            </div>

            <div style="width:335px;float:right;overflow:hidden;display:block;margin-top:-10px">
                <div >
                    <p style="font-size:8px">
                       
                        <i style="margin-top:90px">Print Time: {{time}}</i>
            
                    </p>
            
                    
            
                </div>
            </div>

        </div>


    </div>
</div>






        </div>
    </div>



	</div>







</body>

</html>
