<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
{% load qr_code %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{object.std_name}} Exam Class Report</title>



    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
            font-family: 'Amita';font-size: 19px;
            font-family: 'Allura';font-size: 19px;
            font-family: 'Actor';font-size: 19px;
            font-family: 'Actor';font-size: 19px;
        }
       
        body {
            font-family: 'Actor';font-size: 19px;
			border:3px double #000;
			padding:10px 5px 10px 5px;

            
        }
        p,button,h1,h2,h3,h4,h5{
            font-family: 'Amiko';font-size: 17px;
        }
        .title_custom{
            font-family: 'Amita';font-size: 32px;font-weight: 35px;
        }
        .title_custom_two{
            font-family: 'Almendra';font-size: 22px;
        }
        th{
            font-size: 10px;
			text-align: left;
        }
        td{
            font-size: 10.5px;
        }


 table, th,td{ border-spacing: 5px; border: .5px solid black; } table, th, td { border: 1px solid black; border-collapse: collapse;
} th, td { padding: 5px; } th { text-align: left; }




}
 .watermark { width: 100px; height: 100px; display: block; position: relative; }
.watermark::after { content: ""; background:url({%static 'results/img/logo.png' %});background-repeat:no-repeat; opacity:
0.10; top: 0;
left: 0; bottom: 0; right: 0; position: absolute; z-index: -1; background-attachment: fixed; background-position: center;
}

#background{ position:absolute; z-index:0; background; display:block; min-height:10%; min-width:10%; color:yellow;
} #content{ position:absolute; z-index:1; }
#bg-text {margin-top: 250px;
     color:lightgrey; font-size:15px; margin-left:250px;
}

table#mytable, table#mytable td { border: none !important; font-size: 14px; line-height: 22px}


#container{width:100%; text-align:center; margin-bottom: 30px}

#left_one
{ float:left; width:110px; height: 20px; background: # }


#left
{ float:left; width:150px; height: 20px; background: # }
#center{ display: inline-block; margin:0 auto; width:150px; height: 20px; background:; margin-top:px;margin-left: 70px}
 #right
 { float:right; width:130px;
height: 20px; background: # }


#result_table_range tr td{
    font-size: 6.5px;
}
#result_table_range tr th{
    font-size: 7px;
}

#result_table_range{
    border:0; 
    width:43%!important; 
    font-size: 2px;
    margin-left: 76px;
    
    
}


    </style>
</head>

<body>




	<div class="" style="width:100%;margin:0 auto">
  

        <div class="watermark">

        </div>
        

		<div class="">

            <div style="width:100%; ">
                <div style="width:100%;float: left;display:block">
                    <div>
                        <img style="width:100px;height:109px;margin-left:2%;margin-top:1%;" src="{%static 'results/img/logo.png' %}" alt="">
                        <h1 style="text-align:center;font-size:20px;margin-top:-17%" class="title_custom">
                            Fulhata Secondary School
                        </h1>
                        <p style="text-align:center;font-size:12px; margin-top:-15px">Morrelganj, Bagerhat</p>
                    
                       
                    
                    
                        <p style="text-align:center;font-size:10px; margin-top:-10px" class="">
                            Eiin No: 115030, Founded: 1946
                            <br> Contact: fulhatahs@gmail.com, Morrelganj, Bagerhat
                    
                        </p>
                    
                    
                    </div>
                </div>
            
               
            
            </div>
            
        </div>

<p  style="text-align:center;font-size:14px;width: 100%">
 {% if object.std_class == '10'  %} 
Test Examination 2018

{% elif object.std_class == '8' %}
 Final Model Test Examination 2019  
 {% else %} Final Examination 2019 Class- {{std_class}} Details Report{% endif %}

</p>

<p style="font-size:11px; text-align:center;margin-top:-10px">
    Details via this link: www.fhsresults2019.pythonanywhere.com
    <br>
    <span style="font-size:10px">
        Result App Developed & Maintained by
    <a style="color:black;text-decoration:none;font-size: 11px" href="https://web.facebook.com/asadlive.sohel1">Asaduzzaman Sohel</a>
    </span>
</p>




<hr style="margin-top:5px">

<p id="rotate" style="font-size: 8px;margin-left: -630px;writing-mode: tb-rl;transform: rotate(-90deg);"> 
    Result App Developed & Maintained by
    <a style="color:black;text-decoration:none;font-size: 12px" href="https://web.facebook.com/asadlive.sohel1">Asaduzzaman Sohel</a>
</p>



    
    
    
    
    
    
    
    
    
    
           






    




    <div class="std_table" style="margin-top:-20px">
            <p style="font-size:12px"> Class {{std_class}} Total Pass: {{total_pass_std_count}} ({{pass_percent|floatformat:'2'}}%), Total Fail: {{fail_std_count}} ({{fail_percent|floatformat:'2'}}%)</p>
           
            <div style="width: 100%;">
                <table style="width:100%;margin-top: 5px">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Total Examinee </th>
                            <th>Total Passed</th>
                            <th>Total Fail</th>
                            <th>Total Male</th>
            
            
                            <!--<th>School Rank</th>-->
                            <th>Total Female</th>
            
                            <th>Male pass</th>
                            <th>Female pass</th>
                            <th>Male Fail</th>
                            <th>Female Fail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{std_class}}</td>
                            <td>{{std_search_count}}</td>
                            <td>{{total_pass_std_count}} ({{pass_percent|floatformat:'2'}}%)</td>
                            <td>{{fail_std_count}} ({{fail_percent|floatformat:'2'}}%)</td>
                            <td>{{total_male_list}}</td>
                            <td>{{total_female_list}}</td>
                            <td>{{pass_std_count_male}}</td>
                            <td>{{pass_std_count_female}}</td>
                            <td>{{male_std_fail}}</td>
                            <td>{{female_std_fail}}</td>
                        </tr>
                    </tbody>
                </table>
                <table style="width:100%;margin-top: 5px;font-size: 25px">
                    <thead>
                        <tr>
                            <th>A+</th>
                            <th>A</th>
                            <th>A-</th>
                            <th>B</th>
                            <th>C</th>
            
            
                            <!--<th>School Rank</th>-->
                            <th>D</th>
                            <th>F</th>
            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{std_gpa_aplus}}</td>
                            <td>{{std_gpa_a}}</td>
                            <td>{{std_gpa_a_minus}}</td>
                            <td>{{std_gpa_b}} </td>
                            <td>{{std_gpa_c}}</td>
                            <td>{{std_gpa_d}}</td>
                            <td>{{fail_std_count}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
           
            <table style="width:100%;margin-top: 10px;font-size: ">
                <p style="text-align:center;font-size:13px">Student List</p>
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Class Position</th>
                        <th>Student Name</th>
                        <th>Roll</th>
                        <th>Position Status</th>
        
        
                        <!--<th>School Rank</th>-->
                        <th>Class</th>
        
                        <th>GPA</th>
                        <th>Marks</th>
                    </tr>
                </thead>
        
                
                <tbody>
                    {% for std in std_search %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{std.class_rank|ordinal}} <!--<a href="{% url 'pdf' std.id%}" target="_blank"> print</a>--></td>
        
        
                        {% if std.std_fail_subject >= 1 %}
                        <td >
                       {{std.std_name}}
                        
                        </td>
                        {% else %}
                        <td>
                       {{std.std_name}}
                        </td>
                        {% endif %}
        
        
        
        
        
        
                        <td>{{std.std_roll}}</td>
        
                        {% if std.std_roll > std.class_rank %}
                        <td style="font-size:10px;color:#3498db">
                            Position Up
                        </td>
        
                        {% elif std.std_roll < std.class_rank%}
        
                        <td style="font-size:10px;color:red">  Position Down </td>
        
                        {% elif std.std_roll == std.class_rank %}
        
                        <td style="font-size:10px;color:green"> Position label
                           
                        </td>
        
                        {% endif %}
        
        
        
        
        
        
                        <!--<td>{{std.school_rank|ordinal}}</td>-->
        
                        <td>{{std.get_std_class_display}}</td>
        
        
                        {% if std.std_fail_subject >= 1 and std.std_gpa != 'Withheld' %}
                        <td style="color:red;font-size:12px">
                            Fail {{std.std_fail_subject}} Subject
                        </td>
                        {% elif std.std_gpa == 'Withheld' %}
                        <td style="color:red;font-size:12px">
                            Withheld (absent)
                        </td>
                         {% else %}
                        <td>
                            {% if std.std_grade_point_total_subject_avg > 5 %}
                            {{std.std_grade_point_total_subject_avg|floatformat:0}}.00
                            {% else %}
                            {{std.std_grade_point_total_subject_avg|floatformat:'2'}}
                            {% endif %}
                        </td>
                        {% endif %}
        
        
        
        
        
                        <td>{{std.std_total_marks|floatformat}}</td>
        
        
        
                    </tr>
                    {% endfor %}
                </tbody>
        
              </table>
              
    </div>

</div>



</body>

</html>
