{% extends "results/base.html" %} 
{% block main_content %} 
{% load humanize %}

<div class="row">
    <div class="col-md-12">
    <h1>Teacher Name: {{ object.teacher_name }}</h1>
    <p>Phone Number: {{ object.teach_phone_number }}</p>
    <p class="card-text">{{object.teach_major_subject}}</p>
    <p style="font-size:5px">Published: {{ object.pub_date|naturaltime}}</p>



<div id="" class="">
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>Subject Name</th>
            <th>Class/Group/Type</th>

            <th>
                <td>Theory</td>
                <td>MCQ</td>
                <td>Practical</td>

                <td>1st Part Theory</td>
                <td>1st Part MCQ</td>

                <td>2nd Part Theory</td>
                <td>2nd Part MCQ</td>
                
            </th>

            <th>Total Marks</th>
            
            
            
        </tr>
    </thead>
    <tbody>
        {% for sub in object.teacher.all %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>
                    {% if sub.get_subject_type_display == "REGULAR" %}
                    <button type="button" class="btn btn-success"><a style="color: #ffffff" href="{% url 'subject_details' sub.id %}">{{sub.subject_name}} </a></button>
                    
                    {% elif sub.get_subject_type_display == "OPTIONAL"%}
                    <button type="button" class="btn btn-info"><a style="color:#ffffff" href="{% url 'subject_details' sub.id %}">{{sub.subject_name}} </a></button>
    
                    {% else %}
    
                    <a style="color: #ffffff" href="{% url 'subject_details' sub.id %}">{{sub.subject_name}} </a>
    
                    {% endif %}
            </td>

            <td>
                <span style="font-size: 20px">{{sub.get_subjet_class_display}}</span> <span class="badge badge-info">{{sub.get_subject_group_display}}</span>

                {% if sub.get_subject_type_display == "REGULAR" %}
                <span class="badge badge-warning">{{sub.get_subject_type_display}}</span>
                
                {% elif sub.get_subject_type_display == "OPTIONAL"%}
                <span class="badge badge-dark">{{sub.get_subject_type_display}}</span>

                {% else %}

                {{sub.get_subject_type_display}}

                {% endif %}
            
            
            </td>
            <td>
                <td>{{sub.subject_theory_full_marks|floatformat}}</td>
                <td>{{sub.subject_mcq_full_marks|floatformat}}</td>
                <td>{{sub.subject_practical_marks|floatformat}}</td>
                <td>{{sub.first_part_theory_full_marks|floatformat}}</td>
                <td>{{sub.first_part_mcq_full_marks|floatformat}}</td>
                <td>{{sub.second_part_theory_full_marks|floatformat}}</td>
                <td>{{sub.second_part_mcq_full_marks|floatformat}}</td>
            </td>
            <td>
                {{sub.subject_full_marks|floatformat}}
            </td>
           
            
            
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>




    

        
        
      
    

    
</div>




{% endblock main_content %}